body {
    background: url("../images/Background.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    background: rgba(66, 49, 41, 0.85); 
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 1100px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    color: white; 
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
}

.top-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-box input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
}
.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 40px;
    width: 100%;
}

.current-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-info h1 {
    font-size: 3.5rem;
    line-height: 1;
    margin: 10px 0;
}

.current-info h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

.high-low {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.big-temp {
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
}

.forecast-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hourly-info {
    display: flex; 
    justify-content: space-between;
    background: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
}

.forecast-info h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.weekly-container {
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

.day-slot {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    min-width: 60px;
}

.bottom-panel {
    background-color: rgba(255, 255, 255, 0.9);
    height: 150px;
    border-radius: 15px;
    margin-top: 20px;
    color: black;
    padding: 20px;
}